<div class="divBlogContainer">
		<div class="divBlogPicture" style="background-image:url({{ .Site.BaseURL  }}images/thoughts/{{ .Params.BackgroundSummary }});"></div>
		<div class="divBlogText">
	  		<p class="txtBlogDate">{{ dateFormat "2 Jan 2006" .Params.Date }}</p>
				<a href="{{ .Permalink }}"><h5 class="txtBlogTitle">{{ .Params.Title | markdownify }}</h5></a>
				<p class="txtBlogAuthor">
				{{ with .Params.Authors }}	
					{{ delimit (apply (sort .) "partial" "author-link" ".") ", " " y " }}
				{{ end }}
				</p>
				<p class="txtBlogTags">
        {{ with .Params.Tags }}
            {{ delimit (apply (sort .) "partial" "post-tag-link" ".") ", " " y " }}
        {{ end }}
        </p>
    </div>
</div>
